.bgCounter {
    background: url("../../assets/image/counter_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}